@import './src/index.scss';

.rating {
  text-align: right;

  .stars {
    font-size: 24px;
    color: $color-link-grey;
    width: 196px;
    height: 36px;
  }

  .star {
    transition: color 0.3s ease;
  }

  .full-star,
  .half-star {
    color: $color-link-red;
  }

  .empty-star {
    color: $color-link-grey;
  }
}