@import './src/index.scss';

header {
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px auto;
    padding-top: 45px;
  
    .header__navigation {
    display: flex;
    gap: 50px;
  
      a {
        text-decoration: none;
        white-space: nowrap;
  
        &.active {
          text-decoration: underline;
        }
      }
    }
  }