@import './src/index.scss';

footer {
  margin-top: 50px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: $color-link-black;
  color: $color-link-white; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .footer__logo {
  width: 122px;
  }
}