.logements__card {
    margin: auto;
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 50px;
    padding: 25px 0;
  }
