@import './src/index.scss';

.logements__card {
    margin: auto;
    max-width: $max-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-link-white;
    border-radius: 25px;
    margin-top: 50px;
    padding: 25px 0;
  }
