* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    color: black;
}

li {
    list-style-type: none;
  }

#root {
    position: relative;
    min-height: 100vh;
    padding-bottom: 259px;
}

